        body{
            margin:0 auto;
            width: 1200px;
        }
        form{
            border:1px solid black;
            padding:50px;
            width:400px;
            margin:70px 400px;
            box-shadow: 5px 5px 5px 5px #039ae6;
        }
        .top img{
            width:200px;
        }
        h2{
            text-align: center;
        }
        a{
            margin-left:155px;
        }
        input{
            width:250px;
            border-radius: 20px;
            height:20px;
        }
        table td {
            padding: 10px 5px; /* Tăng khoảng cách trên dưới */
        }
        button {
        margin-left:150px;
        background: #00aaff;
        border: none;
        color: white;
        padding: 8px 18px;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        text-align: center;
        }

        button:hover {
            background: #0077aa;
        }

