body{
    border-radius: 20px;
    border: #c25769;
    box-shadow: rgb(187, 31, 31);
    text-align: center;
    border-radius: 5px;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}