body{
    border-radius: 20px;
    border: rgb(190, 109, 122);
    box-shadow: 1px 1px 1px 1px #d51bb9;
    text-align: center;
    border-radius: 5px;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}