body{
    width:1200px;
    margin:0 auto;
}
.content{
    margin-left:300px;
}
.right{
    text-align: right;
}
table {
    border-collapse: separate;
    border-spacing: 0 12px; /* tạo khoảng cách dọc giữa các <tr> */
    width: 100%;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

