body{
    margin:0 auto;
    width:1200px;
}
.content{
    margin-left:300px;  
}
form{
    margin:50px ;
    text-align: right;
}
table{
    border-collapse:collapse;
    
}
th, td{
    padding:15px 20px;
    border-bottom:1px solid black;
}